DB_NAME= Name of the database
DB_USER= Username for the database
DB_PASSWORD= Password for the database
DB_HOST= Host of the database
DB_PORT= Port number for the database

JWT_SECRET= Secret key for JWT authentication
SECRET_KEY= Secret key for the application
DEBUG= True or False (depending on the environment)