DB_NAME= Name of the database
DB_USER= Username for the database
DB_PASSWORD= Password for the database
DB_HOST= Host of the database
DB_PORT= Port number for the database

# Application configuration
JWT_SECRET= Secret key for JWT authentication
SECRET_KEY= Secret key for the application
DEBUG= True or False (depending on the environment)

# Google OAuth configuration
GOOGLE_CLIENT_ID= Google OAuth client ID
GOOGLE_CLIENT_SECRET= Google OAuth client secret
GOOGLE_REDIRECT_URI= Redirect URI for Google OAuth
FRONTEND_URL= URL of the frontend application

# Email configuration
EMAIL_HOST= SMTP server for sending emails
EMAIL_PORT= Port number for the SMTP server
EMAIL_USE_TLS= True or False (depending on whether TLS is used)
EMAIL_HOST_USER= Email address for the SMTP server
EMAIL_HOST_PASSWORD= Password for the SMTP server email address

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME= Cloudinary cloud name
CLOUDINARY_API_KEY= Cloudinary API key
CLOUDINARY_API_SECRET= Cloudinary API secret

# Stripe configuration
STRIPE_SECRET_KEY= Stripe secret key
STRIPE_PUBLISHABLE_KEY= Stripe publishable key
STRIPE_WEBHOOK_SECRET= Stripe webhook secret

# Program configuration
PAYMENT_HOLD_DAYS= Number of days to hold payments before releasing them